<h1> About BetterDays </h1>
<p> 
	<%= link_to "BetterDays","http://www.google.com" %> 
	is a project to 
	<%= link_to "help people","htt://wwww.google.com" %>
	efficiently. This is the beta^10 version.
</p>