<h1>Welcome to GEEKATHON 2013</h1>
<p>
	Bonjour vous êtes sur la page de 
	<%= link_to "BetterDays","http://www.google.com" %>
	par Olivier, Victor, Emmanuel.
</p>
<p>
	<%= link_to "Sign Up Now :-)","#" %>
</p>



